
@{
    ViewBag.Title = "Todo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Todo</h2>

<ul>
    <li>Accounting sums</li>
    <li>Vetting</li>
    <ul>
        <li>Finish dog vetting</li>
        <li>Cat vetting</li>
    </ul>
    <li>Link vetting and expenseses</li>
    <li>Applications</li>
    <ul><li>Link applictions to locations list. <ul>Ex: Approve application. Adds contact info to locations list.</ul></li></ul>
</ul>